<div>
  <h1 class="text-blue-600 font-bold text-4xl">Hello World!</h1>
  <p class="mt-5">Find me in app/views/static_pages/landing_page.html.erb</p>
  <p class="mt-5" data-controller="hello" data-action="click->hello#handleClick">b</p>
  <%= link_to 'Products', products_path, class: "btn-primary mt-5" %>
</div>
