<div>
  <h1 class="text-blue-600 font-bold text-4xl">Hello World!</h1>
  <p class="mt-5">This is the landing page.</p>
  <p class="mt-5" data-controller="hello" data-action="click->hello#handleClick">b</p>
  
  <%= image_tag "https://placehold.co/330?text=Hello+World"%>
</div>
